*
!.gitignore
!firmware.ld
!Makefile
!root_task.c
!taskb.c
!taskc.c
!venus.h
!makehex.py
!asm.py
!map_task.py
!single_task_test.py
!single_without_padding.py
!gen_venustype_h.py
!gen_venusbuiltin_h.py
!riscv_printf.h
!input_num.py
!scalar_o.py
!type_verify.py